<div class="container-fluid">
  <app-header-bar></app-header-bar>
  <div class="row">
    <div id="sessionNavigationBar" class="nav-container-width">
      <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="page-container table-container-width">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div class="card text-white bg-info text-center border-dark text-body mb-3">
            <div class="card-header bg-transparent border-info justify-content-center">Apply Filters</div>
            <form class="m-4">
              <div class="row justify-content-center">
                  <div class="row">
                    <div class="form-group" style="width: 250px">
                      <label class="h6">Search by location</label> &nbsp;
                      <ng-select id="eventsFilterDropDown"  [ngModelOptions]="{standalone: true}" [(ngModel)]="searchKey" bindLabel="name" (ngModelChange)="onSearchInputChange($event)" bindValue="pk_id" [items]="filterByLocation" [clearable]="false"></ng-select>
                    </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row justify-content-around" *ngIf="!weatherReport">
        <div class="col-sm-12">
          <div class="card text-white bg-danger mb-3">
            <div class="card-body">
              <div class="row  justify-content-around">
                <p class="card-text">No results found...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="weatherReport">
        <div class="table-container">
          <kendo-grid id="weatherReportGrid" [data]="this.weatherReportData" [height]="683" [sortable]="{allowUnsort: false}" [filterable]="true" [sort]="sort" [resizable]="true" [pageSize]="10" [pageable]="true">
            <kendo-grid-column field="city_name" id=city_name title="City Name">
              <ng-template class="sortable" kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <span class="header-text">City Name<i class="fas fa-sort float-right"></i></span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="ob_time" id=ob_time title="Last weather observation">
              <ng-template class="sortable" kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <span class="header-text">Last weather observation<i class="fas fa-sort float-right"></i></span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="temp" id=temp title="Temperature (Celcius)">
              <ng-template class="sortable" kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <span class="header-text">Temperature (Celcius)<i class="fas fa-sort float-right"></i></span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="weather.description" id=WeatherDescription title="Weather Description">
              <ng-template class="sortable" kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <span class="header-text">WeatherDescription<i class="fas fa-sort float-right"></i></span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column  id=Actions title="Actions">


              <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoGridEditCommand type="button" [primary]="true" (click)="openWeatherDetailsModal(dataItem)">View More Details</button>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</div>
