<div class="confirm-light-box">
  <div>
    <div class="confirm-light-box-header">
    <span class="confirm-light-box-header-right icon-align">
      <i id="closeIcon" class="fa fa-window-close" aria-hidden="true" (click)="modalService.dismiss()"></i>
    </span>
      <span id="deleteEventsHeader"
            class="text-title-2">Weather information for {{weatherCity}} City.</span>
      <hr/>
    </div>
    <div class="confirm-light-box-divider-content">
      <p id="secondaryHeaderText">Overall weather prediction is {{ weatherReport.data[0].weather.description}}.</p>
      <div class="row">
        <div class="col-6">
          <div class="row form-group">
            <label id="city-label" class="col-3 col-form-label pt-0">City</label>
            <div class="col-9">
              {{weatherCity}}
            </div>
          </div>
          <div class="row form-group">
            <label id="date-label" class="col-3 col-form-label pt-0">Date and TIme</label>
            <div class="col-9">
              {{ weatherReport.data[0].datetime}}
            </div>
          </div>
          <div class="row form-group">
            <label id="timezone-label" class="col-3 col-form-label pt-0">Time Zone</label>
            <div class="col-9">
              {{ weatherReport.data[0].timezone}}
            </div>
          </div>
          <div class="row form-group">
            <label id="sunrise-label" class="col-3 col-form-label pt-0">Sun Rise</label>
            <div class="col-9">
              {{ weatherReport.data[0].sunrise}}
            </div>
          </div>
          <div class="row form-group" >
            <label id="sunset-label" class="col-3 col-form-label pt-0">Sun set</label>
            <div class="col-9">
              {{ weatherReport.data[0].sunset}}
            </div>
          </div>

          <div class="row form-group">
            <label id="winddirection-speed" class="col-3 col-form-label pt-0">Wind direction</label>
            <div class="col-9">
              {{weatherReport.data[0].wind_cdir_full}}
            </div>
          </div>
          <div class="row form-group">
            <label id="windspeed-label" class="col-3 col-form-label pt-0">Wind Speed</label>
            <div class="col-9">
              {{weatherReport.data[0].wind_spd}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row form-group">
            <label id="lastobservation-label" class="col-3 col-form-label pt-0">Last Observation</label>
            <div class="col-9">
              {{weatherReport.data[0].last_ob_time | date :'medium'}}
            </div>
          </div>
          <div class="row form-group">
            <label id="temperature-label" class="col-3 col-form-label pt-0">Temperature</label>
            <div class="col-9">
              {{weatherReport.data[0].temp}}
            </div>
          </div>
          <div class="row form-group">
            <label id="snowfall-label" class="col-3 col-form-label pt-0">Snowfall</label>
            <div class="col-9">
              {{weatherReport.data[0].snow}}
            </div>
          </div>
          <div class="row form-group">
            <label id="visibility-label" class="col-3 col-form-label pt-0">Visibility(KM)</label>
            <div class="col-9">
              {{weatherReport.data[0].vis}}
            </div>
          </div>
          <div class="row form-group">
            <label id="clouds-label" class="col-3 col-form-label pt-0">Cloud coverage (%)</label>
            <div class="col-9">
              {{weatherReport.data[0].clouds}}
            </div>
          </div>
          <div class="row form-group">
            <label id="rh-label" class="col-3 col-form-label pt-0">Relative humidity (%)</label>
            <div class="col-9">
              {{weatherReport.data[0].rh}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
